.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: linear-gradient(180deg, #ffffff 6.01%, rgba(136, 196, 255, 0.59) 120%);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.resend-button {
  width: 100%;
  margin-bottom: 10px;
  color: #b3b3b3;
  border: none;
  border-radius: 16.18px;
  cursor: pointer;
  margin-top: 10px;
  background-color: transparent;
}

.modal-logo img {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
}

.modal-heading {
  font-size: 40px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.modal-content form label {
  font-size: 15px;
  color: #000000;
  line-height: 12.63px;
  margin-bottom: 10px;
  text-align: left;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #b5b5b5;
  border-radius: 16.18px;
}

.otp-input {
  width: 100%;
  text-align: center;
}

.modal-accept {
  width: 100%;
  padding: 10px;
  background-color: #1978e5;
  color: white;
  border: none;
  border-radius: 16.18px;
  cursor: pointer;
}

.modal-accept:disabled,
.resend-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.modal-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  flex-wrap: wrap;
}

.modal-list a {
  font-size: 14px;
  line-height: 12.63px;
  color: #000000;
  margin: 5px 0;
}

.otp-error-text {
  color: #e31d1c;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

.otp-header {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.back-button {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1978e5;
  border-radius: 50%;
}

.otp-sent-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  text-align: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .modal-content {
    width: 95%;
    padding: 15px;
  }

  .modal-heading {
    font-size: 30px;
  }

  .back-button {
    width: 40px;
    height: 40px;
  }

  .modal-logo img {
    max-width: 150px;
  }

  .modal-list {
    flex-direction: column;
    align-items: center;
  }

  .modal-list a {
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  .modal-heading {
    font-size: 24px;
  }

  .modal-accept,
  .resend-button {
    font-size: 14px;
    padding: 8px;
  }
}