.header {
  background-color: #fff;
  width: 100%;
  position: relative;
  z-index: 10;
}

.header-container {
  display: flex;
  padding: 18px 0;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 30px;
  transition: all 0.3s ease;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-btn {
  background-color: #d9d9d9;
  padding: 5px 19px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.language-btn {
  padding: 0;
}

.language-select {
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  cursor: pointer;
  outline: none;
  width: 70px;
}

.header-text {
  font-weight: 700;
  color: #000000;
  font-size: 14px;
  line-height: 21px;
}

.header-span {
  width: 35px;
  height: 22px;
  border-radius: 10px;
  background-color: #e31d1c;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
}

.burger-menu {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
  z-index: 1001;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto;
}

.mobile-menu-content {
  margin-top: 30px;
}

.mobile-menu .header-nav,
.mobile-menu .header-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.mobile-menu .header-btn {
  width: 120px;
  justify-content: flex-start;
}

.mobile-menu .language-select {
  width: 100%;
}

@media (max-width: 1024px) {
  .header-container {
    padding: 15px 15px;
  }
  .header-left {
    gap: 40px;
  }
  .header-nav {
    gap: 25px;
  }
  .header-nav a {
    font-size: 13px;
  }
  .header-right {
    gap: 15px;
  }
  .header-btn {
    padding: 4px 15px;
    gap: 8px;
  }
  .language-select {
    padding: 4px 8px;
    font-size: 13px;
    width: 55px;
  }
  .header-text {
    font-size: 13px;
  }
  .header-span {
    width: 30px;
    height: 20px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header-container {
    padding: 12px 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-left {
    gap: 20px;
    width: 100%;
    justify-content: space-between;
  }
  .header-nav {
    display: none;
  }
  .header-right {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .header-right {
    margin-top: 20px;
  }
  .header-logo {
    width: 150px;
    object-fit: contain;
  }
}

@media (max-width: 475px) {
  .header-container {
    padding: 10px 10px;
  }
  .header-logo {
    width: 110px;
    object-fit: contain;
  }
  .header-left {
    gap: 15px;
  }
  .header-nav a {
    font-size: 12px;
  }
  .mobile-menu {
    width: 55%;
    padding: 10px;
  }
  .header-btn {
    padding: 2px 10px;
    gap: 5px;
  }
  .mobile-menu .header-btn {
    width: 90px;
    justify-content: flex-start;
  }
  .language-select {
    padding: 2px 0px;
    font-size: 11px;
    width: 100%;
  }
  .header-text {
    font-size: 11px;
  }
  .header-span {
    width: 22px;
    height: 16px;
    font-size: 12px;
  }
}
