.plan-plus {
  cursor: pointer;
}

.country-1 {
  width: 23px;
  height: 23px;
  margin-bottom: -2px;
  margin-right: -5px;
  object-fit: cover;
}

.country-2 {
  width: 23px;
  height: 23px;
  margin-bottom: -2px;
  margin-right: -5px;
  object-fit: cover;
}

.country-3 {
  width: 23px;
  height: 23px;
  margin-bottom: -2px;
  margin-right: -5px;
  object-fit: cover;
}

.country-4 {
  width: 23px;
  height: 23px;
  margin-bottom: -2px;
  margin-right: -5px;
  object-fit: cover;
}

.plan-img-btn {
  color: #ffffff;
  padding: 0 10px;
  background-color: #1978e5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 14px;
  font-weight: 300;
}

.plan-wrapp {
  display: flex;
  align-items: center;
  width: fit-content;
}

.cart-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.cart-item {
  border: 1px solid #0000004d;
  padding: 20px;
  border-radius: 10px;
}

.cart-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flag {
  font-size: 40px;
}

.inputt {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.name {
  font-weight: 400;
  font-size: 24px;
  line-height: 22.42px;
  letter-spacing: 0px;
}

.cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.buy-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 16.18px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-end;
  width: 100%;
  margin-top: 23px;
}

.plan-item-w {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.plan-item-h {
  border: 2px solid #1978e5;
  border-right: none;
  padding: 1px 85px 1px 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.plan-item-h h3 {
  font-weight: 500;
  font-style: Italic;
  font-size: 20px;
  letter-spacing: 0px;
}

.plan-plus {
  background-color: #1978e5;
  padding: 11.5px 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.plan-p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-detail {
  background-color: #1978e5;
  color: #ffffff;
  padding: 3px 10px;
  border-radius: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 95vh;
  overflow-y: auto;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #000;
  padding: 0;
  line-height: 1;
}

.modal-body {
  display: flex;
  align-items: stretch;
  gap: 12px;
}

.promokod-input {
  width: 100%;
  border: 1px solid #e8edf2;
  border-radius: 10px;
  background-color: #e8edf2;
  padding: 7px 10px;
}

.promokod-btn {
  all: unset;
  background-color: #1978e5;
  color: #ffffff;
  border-radius: 10px;
  padding: 7px 15px;
  font-size: 14px;
}

.total {
  font-weight: 600;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0px;
  vertical-align: middle;
  margin-top: 20px;
  text-align: end;
  color: #0054b7;
}

.accept {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.promokod-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24.07px;
  letter-spacing: 0px;
  color: #000000;
  margin-bottom: 7px;
}

.promokod-wrap {
  display: flex;
  align-items: stretch;
  gap: 7px;
}

.payment-infos {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.payment-inputs {
  padding: 13px 20px;
  border: 1px solid #b5b5b5;
  border-radius: 8px;
}

.payment-info-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.payment-options {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.payment-o-wrapper {
  margin-top: 15px;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #000000;
}

.payment-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.radio-input {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.modal-cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  max-height: 450px;
  overflow-y: auto;
  width: 100%;
}

.modal-cart-item {
  border: 1px solid #0000004d;
  padding: 15px;
  border-radius: 10px;
}

.modal-cart-item-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.modal-accept {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 16.18px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.modal-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  flex-wrap: wrap;
}

.modal-list a {
  font-size: 14px;
  line-height: 12.63px;
  color: #000000;
  margin: 5px 0;
}

@media (max-width: 1024px) {
  .cart-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .modal {
    width: 85%;
  }
  .flag {
    font-size: 36px;
  }
  .plan-item-h {
    padding: 1px 70px 1px 6px;
  }
  .plan-item-h h3 {
    font-size: 18px;
  }
  .plan-plus {
    padding: 10.5px 25px;
  }
  .buy-button {
    padding: 8px 20px;
  }
}

@media (max-width: 768px) {
  .cart-items {
    grid-template-columns: 1fr;
  }
  .modal {
    width: 90%;
  }
  .modal-body {
    flex-direction: column;
    gap: 20px;
  }
  .payment-o-wrapper {
    padding: 15px;
  }
  .flag {
    font-size: 30px;
  }
  .payment-infos {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .payment-inputs {
    padding: 13px 20px;
    border: 1px solid #b5b5b5;
    border-radius: 8px;
  }
  .name {
    font-size: 20px;
  }
  .plan-item-h {
    padding: 1px 50px 1px 5px;
  }
  .plan-item-h h3 {
    font-size: 16px;
  }
  .plan-plus {
    padding: 8.7px 20px;
  }
  .plan-item-w {
    margin-bottom: 10px;
    justify-content: center;
  }
  .cart-detail {
    padding: 2px 7px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-list {
    flex-direction: column;
    align-items: center;
  }
  .modal-list a {
    margin: 5px 0;
  }
  .buy-button {
    padding: 6px 16px;
  }
  .w-yarim {
    width: 50%;
  }
  .accept-text {
    text-align: center;
    font-size: 12px;
  }
}

@media (max-width: 475px) {
  .cart-items {
    grid-template-columns: 1fr;
  }
  .modal {
    width: 95%;
  }
  .flag {
    font-size: 24px;
  }
  .name {
    font-size: 18px;
  }
  .plan-item-h {
    padding: 1px 30px 1px 4px;
  }
  .plan-item-h h3 {
    font-size: 15px;
  }
  .plan-plus {
    padding: 8.2px 15px;
  }
  .cart-detail {
    padding: 2px 6px;
    font-size: 12px;
  }
  .buy-button {
    padding: 5px 12px;
    font-size: 14px;
  }
  .payment-inputs {
    padding: 10px 7.5px;
  }
  .promokod-input {
    padding: 5px 8px;
  }
  .promokod-btn {
    padding: 5px 10px;
  }
  .total {
    font-size: 30px;
  }
  .modal-accept {
    padding: 8px 15px;
  }
  .modal-list a {
    font-size: 12px;
  }
  .country-1 {
    width: 20px;
    height: 15px;
    margin-bottom: 0px;
    margin-right: -5px;
    object-fit: cover;
  }

  .country-2 {
    width: 20px;
    height: 15px;
    margin-bottom: 0px;
    margin-right: -5px;
    object-fit: cover;
  }

  .country-3 {
    width: 20px;
    height: 15px;
    margin-bottom: 0px;
    margin-right: -5px;
    object-fit: cover;
  }

  .country-4 {
    width: 20px;
    height: 15px;
    margin-bottom: 0px;
    margin-right: -5px;
    object-fit: cover;
  }

  .plan-img-btn {
    color: #ffffff;
    padding: 0 10px;
    background-color: #1978e5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 10px;
    font-weight: 300;
  }

  .plan-wrapp {
    justify-content: center;
    margin: 0 auto;
  }
}